
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main{
  width: 100vw;
  height: 100vh;
  text-align: center;
  color: #222222;
}

.header .head{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  gap: 50px;
}

.header .title{
  font-size: 2.5em;
  color: #6C63FF;
}


 .main .toggleMode{
  display: flex;
  align-items: center;
  background-color: #222222;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  position: relative;
  transition: 2s;
}

.toggleMode .toggleButton{
  width: 30px;
  height: 30px;
  position: absolute;
  background-color: #fff;
  border-radius: 100%;
  margin-left: 5px;
} 

.header p{
  font-size: 1.8em;
}


.form{
  display: flex;
  margin-top: 50px;
  gap: 30px;
  justify-content: center;
}


.form label input{
  width: 500px;
  height: 50px;
  background-color: #f5f3f3;
  outline: none;
  border-radius: 10px;
  border: #6C63FF 2px solid;
  font-size: 1em;
  padding: 5px;
  color: black;
}

.form button{
  width: 120px;
  padding: 10px;
  /* height: 50px; */
  background-color: #6C63FF;
  outline: none;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 1em;
  color: #fff;
  font-weight: 600;
}

.form button:hover{
  background-color: #746dfc;
}

.form label input:hover , .form label input:focus{
  border: #8680f1 2px solid;
}

.task{
  display: flex;
  justify-content: center;
  margin-left: -125px;
}

.task ul{
 display: grid;
}

.task ul li{
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  background-color:#6C63FF;
  padding: 10px;
  margin-top: 20px;
  width: 470px;
  color: #fff;
  list-style-type: none;
  position: relative;
  border-radius: 10px;
}

.task ul li::before{
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: #6C63FF;
  left: -30px;
  top: 20px;
}

.task ul li button{
  background-color: #fff;
  outline: none;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #222222;
}

.loginPage, .signUpPage{
  display: grid;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.loginPage h1, .signUpPage h1{
  font-size: 3.5em;
  margin-bottom: 40px;
}

.loginForm, .signUpForm{
  display: grid;
  justify-content: center;
  gap: 30px;
}

.loginForm label, .signUpForm label{
  text-align: left;
}

.loginForm input, .signUpForm input{
  width: 350px;
  padding: 12px 5px;
  border: 1px solid #6C63FF;
  background-color: #fff;
  color: #222222;
}

.loginForm button, .signUpForm button {
  width: 350px;
  padding: 12px 5px;
  background-color: #6C63FF;
  color: #fff;
  border: none;
  font-size: 1em;
  cursor: pointer;

}

.error{
  color: red;
  text-align: center;
}

.logout{
  float: right;
  margin: -20px 100px 0 0;
  width: 150px;
  padding: 12px 5px;
  background-color: #6C63FF;
  color: #fff;
  border: none;
  font-size: 1em;
  cursor: pointer;
}

/*Dark Mode */

.main.dark{
  background-color: #222222;
  color: #fff;
}

.dark .toggleMode{
  background-color: #fff;
  justify-content:flex-end;
  transition: 2s;
}

 .dark .toggleMode .toggleButton{
  margin-right: 5px;
  background-color: #222222;
}

.form .labelItem.dark input{
    background-color: rgb(3, 3, 21);
}